<div class="container">

  <header class=" d-flex justify-content-between align-items-center p-4 mt-4">
    <img src="../assets/images/logo.svg" alt="logo">
    <div class="score text-center">
      <h4>Score</h4>
      <span>{{score}}</span>
    </div>
  </header>
  <router-outlet (activate)="subscribeToEmiter($event)" (deactivate)="unsubscribe()"></router-outlet>
  <footer class="text-center text-sm-end pb-2">
    <a (click)="showRules()">Rules</a>
    <a (click)="rest()" class="ml-2">Reset</a>
  </footer>

</div>
<div [class]="stat">
  <div class="overlay"></div>
  <div class="img-show p-2">
    <div class="d-flex justify-content-md-between justify-content-center align-items-center px-3">
      <h3 class="text-uppercase text-center pt-4 pt-md-2 text-md-start pl-md-2">Rules</h3>
      <span (click)="hideRules()"><img src="../assets/images/icon-close.svg" alt="icon-close"></span>
    </div>

    <img src="../assets/images/image-rules.svg" alt="image-rules">
  </div>
</div>
